@import "tailwindcss";

/* afacad-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/afacad-v3-latin-regular.woff2');
}

/* afacad-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/afacad-v3-latin-500.woff2');
}

/* afacad-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/afacad-v3-latin-700.woff2');
}

@theme {
  --font-app: 'Afacad';
}

.tiptap {
  p {
    @apply first:mt-0 last:mb-0 text-slate-100 leading-relaxed;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ol,
  ul {
    @apply list-outside ml-4; 
  }

  li > p {
    @apply inline;
  }

  pre {
    @apply bg-slate-600 m-2;
  }

  blockquote {
    @apply border-spacing-2 border-slate-400 border-l-2 pl-2 ml-2;
  }


  @apply text-slate-100 bg-slate-700 outline-none;
}
