@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* afacad-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/afacad-v3-latin-regular.woff2');
}

/* afacad-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/afacad-v3-latin-500.woff2');
}

/* afacad-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/afacad-v3-latin-700.woff2');
}

@theme {
  --font-app: 'Afacad';

  --animate-slide-from-top: slide-from-top 0.2s ease-out;

  @keyframes slide-from-top {
    0% {
      transform: translate(0, -8px);
      opacity: 0.5;
    } 75% {
      transform: translate(0, -2px);
      opacity: 0.8;
    } 100% {
      transform: translate(0);
      opacity: 1;
    }
  }
}
